img {
  width: 320px;
  height: 200px;
  display: block;
  margin: auto;
}


h1 {
  color: brown;
  font-family:Arial;
  font-size: 20px;
  text-align:center;
}


h2 {
  color: blueviolet ;
  font-family: Georgia;
  font-size: 20px;
  text-align:justify;
}

p {
  text-align:justify;
}

mark {
  background-color: mistyRose;
  color: brown;
}

a {
  text-decoration:none;
}

.table1 {
  width:35%; 
  border-collapse:collapse;
}

.table2 { 
  width:10%; 
}

th, tr, td {
  border-style:solid; 
  border-width:2px;
  padding-left:5px
}

th {
  background-color: lavender;
}

td:hover {
  background-color: plum;
}
